.movies {
    width: 100%;
    background: #202020;
    box-sizing: border-box;
    padding: 70px 20px;
    min-height: 100vh;
    display: flex;
}

.movies__wrap {
    box-sizing: border-box;
    margin: 0 auto;
    width: 410px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
