.movies {
    width: 100%;
    background: #202020;
    box-sizing: border-box;
    padding: 70px 70px 0;

    display: flex;
}

.movies__wrap {
    width: 100%;
    box-sizing: border-box;

    padding-top: 70px;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 868px) {
    .movies {
        padding: 80px 30px;
    }
}

@media screen and (max-width: 520px) {
    .footer__wrap {
        padding: 90px 14px 80px;
    }
}
