.header {
    width: 100%;
    background-color: transparent;
    position: absolute;

    color: white;
}

.header__wrap {
    /*margin: 0 auto;*/
    padding: 18px 70px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 38px;
    height: 38px;
    background-image: url("../../images/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 44px;
}

.header__linkWrap {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.header__nav {
    display: inline-block;
    line-height: 38px;
}

.header__link {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 30px;
}

.header__link_active {
    font-weight: 500;
}

.header__link_hidden {
    display: none;
}

.header__linkSignin {
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin-right: 30px;
    transition: all 0.3s;
}

.header__linkSignin:hover, .header__linkSignin:focus{
    box-shadow: 0px -14px 8px -15px rgba(214, 225, 254, 0.75) inset;
}

.header__linkSignin:active {
    transform: scale(0.9);
}

.header__btn {
    display: inline-block;
    margin: 0;
    padding: 8px 20px;
    box-sizing: border-box;
    background: #3DDC84;
    border-radius: 3px;
    color: black;
    transition: all 0.3s;
}
.header__btn:hover, .header__btn:focus {
    box-shadow:  0px 0px 10px 0px rgb(236 249 247) inset;
}

.header__btn:active {
    transform: scale(0.89);
}
.header__btnAcc {
    box-sizing: border-box;
    border: 2px solid rgba(170, 170, 170, 0.2);
    border-radius: 50px;
    padding: 6px 9px;
    width: 100px;
    transition: all 0.3s;
}

.header__btnAcc:hover, .header__btnAcc:focus {
    box-shadow:  0px 0px 10px 0px rgba(214, 225, 234, 0.55) ;
}

.header__btnAcc:active {
    transform: scale(0.89);
}

.header__btnAccText {
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.header__btnAccText::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 14px;
    background-image: url("../../images/icon__acc.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 7px;
}

/*for mobile*/

.header__mobMenu {
    display: none;
    box-sizing: border-box;
    background-image: url("../../images/icon__gamburger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    background-color: transparent;

}

.header__closeMobMenuBtn_hidden {
    display: none;
}

@media screen and (max-width: 868px) {
    .header__mobMenu {
        display: block;

        position: absolute;
        right: 30px;
    }

    .header__mobMenu_open {
        display: none;
    }

    .header__linkWrap {
        display: none;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        background-color: black;

    }

    .header__linkWrap_mobileMenuOpen {
        z-index: 1;
        display: flex;
        visibility: visible;
        padding: 90px;
        box-sizing: border-box;
        max-width: 520px;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
    }

    .header__wrap {
        padding: 15px 30px;
    }

    .header__nav_mobileMenuOpen {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 38px;
    }

    .header__closeMobMenuBtn {

        display: block;
        position: absolute;
        right: 22px;
        top: 22px;
        width: 25px;
        height: 25px;
        background-image: url("../../images/icon__close.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }


    .header__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        margin-top: 28px;
    }
    .header__linkSignin {
        margin-top: 0;
    }

    .header__link_active {
        text-decoration: solid underline white;
        text-decoration-thickness: 2px;
    }


}

@media screen and (max-width: 520px) {
    .header__linkSignin {
        font-size: 10px;
        line-height: 16px;
        margin-top: 0;
        margin-left: 14px;
        margin-right: 0;

    }

    .header__link {
        margin: 28px auto 0;
    }

    .header__mobMenu {
        width: 22px;
        height: 42px;
        background-size: cover;
        background-position: center;

    }

    .header__linkWrap_mobileMenuOpen {
        min-width: 100%;
        padding: 90px 10px;
    }
}
