.notFoundPage {
    width: 100%;
    background: #202020;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notFoundPage__title {
    font-weight: normal;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 0 5px;

}

.notFoundPage__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 0 184px;

}

.notFoundPage__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    text-decoration: none;
}
